* { box-sizing: border-box; margin: 0; padding: 0; -webkit-tap-highlight-color: transparent; }

body, html {
    width: 100%; height: 100%;
    background: #4e342e url('icons/wood.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: white; overflow: hidden;
}

#app { width: 100%; max-width: 450px; margin: 0 auto; height: 100%; position: relative; }

/* HEADER */
header { padding: 25px 15px 15px; }
.header-container { display: flex; align-items: center; justify-content: center; gap: 15px; }
.logo { width: 65px; height: auto; filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5)); flex-shrink: 0; }
.header-text { display: flex; flex-direction: column; }
h1 { font-size: 20px; margin: 0; text-shadow: 2px 2px 4px black; line-height: 1.1; text-align: center;}
h3 { font-size: 14px; font-weight: bold; opacity: 0.9; margin: 2px 0; text-shadow: 1px 1px 2px black;text-align: center; }
h4 { font-size: 14px; color: #aed581; text-shadow: 1px 1px 2px black;text-align: center; }

/* MENU PRINCIPAL */
.menu-principal { width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 10px; }
.bloque-grid { display: grid; grid-template-columns: repeat(3, 75px); gap: 15px; margin-bottom: 15px; }
.bloque-flex { display: flex; gap: 15px; margin-bottom: 15px; }
.btn-circle { width: 75px; height: 75px; background: none; border: none; cursor: pointer; padding: 0; transition: transform 0.1s; }
.btn-circle:active { transform: scale(0.92); }
.btn-circle img { width: 100%; height: 100%; object-fit: contain; filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5)); }

.mic-container { margin-top: 5px; text-align: center; }
#mic-status { font-size: 13px; font-weight: bold; color: white; margin-top: 8px; height: 18px; text-shadow: 1px 1px 2px black; }

/* PANTALLAS */
.screen { width: 100%; height: 100vh; position: relative; }
.hidden { display: none !important; }

#map-container { width: 100%; height: 100vh; z-index: 1; }
#list-container { padding: 60px 15px 20px; height: 100vh; overflow-y: auto; background: rgba(0,0,0,0.4); }

/* LISTAS */
.lista-titulo { text-align: center; margin-bottom: 25px; text-shadow: 2px 2px 4px black; font-size: 24px; }
.lista-item {
    background: white; color: #333;
    padding: 10px 12px; border-radius: 12px; margin-bottom: 12px;
    display: flex; align-items: center; gap: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.lista-acciones-left { display: flex; gap: 6px; flex-shrink: 0; align-items: center; }
.btn-accion { background: none; border: none; padding: 0; cursor: pointer; width: 34px; height: 34px; }
.btn-accion img { width: 100%; height: auto; display: block; }
.lista-info { flex-grow: 1; cursor: pointer; padding-left: 5px; }
.nombre-ruta { font-weight: bold; font-size: 14px; color: #1b5e20; text-decoration: underline; line-height: 1.2; display: block; }